/* ====================
MAIN STYLES
==================== */
html {
    margin: 0;

    body {
        margin: 0;
        background: linear-gradient(rgba(45, 28, 93, 0.95), rgba(45, 28, 93, 0.95)), url('images/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;

        .container {
            width: 80%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            height: auto;

            @media only screen and (max-width: 900px) {
                display: block;
                .pic-numbers {
                    max-width: 300px;
                }
            }

            .pic-numbers {
                max-width: 561px;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .main-wrapper {
                display: flex;
                flex-direction: column;
                text-align: left;
                max-width: 760px;

                .wrong-answer {
                    display: none;
                    align-items: center;
                    justify-content: center;
                    width: 90%;
                    padding: 34px 37px 49.5px 32px;
                    background: rgba(170, 2, 2, 0.33);
                    margin-bottom: 32px;

                    img {
                        max-width: 146px;
                        max-height: 148px;
                        margin-right: 20px;
                    }

                    .tip {
                        color: rgba(255, 255, 255, 1);
                        font-family: "Roboto", sans-serif;
                        line-height: 100%;
                        margin: 0;
                        
                        h2 {
                            font-weight: 700;
                            font-size: clamp(24px 10vw 64px);
                        }

                        #higher {
                            display: none;
                        }

                        #lower {
                            display: none;
                        }

                        p {
                            font-weight: 400;
                            font-size: clamp(12px 10vw 32px);
                        
                            span {
                                background: rgba(211, 30, 62, 1);
                                padding: 1px 8px;
                                font-weight: 900;
                                font-size: clamp(12px 10vw 32px);
                            }
                        }
                    }
                }

                h1 {
                    color: rgba(255, 255, 255, 1);
                    font-family: "Roboto", sans-serif;
                    font-size: clamp(30px 10vw 80px);
                    font-weight: 700;
                    line-height: 100%;
                    margin: 0;
                }

                #guess {
                    display: flex;
                    flex-direction: column;

                    input {
                        color: rgba(212, 212, 212, 1);
                        background: rgba(23, 14, 49, 0.72);
                        font-family: "Inter", sans-serif;
                        font-weight: 400;
                        font-size: clamp(10px 10vw 18px);
                        line-height: 28px;
                        max-width: 375px;
                        border: none;
                        padding: 14px 16px;
                        margin: 24px 0 8px;
                        appearance: none;
                        -moz-appearance: textfield;

                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                        }
                    }

                    label {
                        color: rgba(222, 222, 222, 1);
                        font-family: "Inter", sans-serif;
                        font-weight: 400;
                        font-size: clamp(8px 10vw 14px);;
                        line-height: 20px;
                        max-width: 375px;
                        margin: 0 0 24px;
                    }

                    button {
                        cursor: pointer;
                        color: rgba(194, 194, 194, 1);
                        background: rgba(238, 238, 238, 1);
                        font-family: "Inter", sans-serif;
                        font-weight: 700;
                        font-size: clamp(10px 10vw 18px);
                        line-height: 21px;
                        padding: 8px 16px;
                        max-width: 256px;
                        border: none;
                    }
                }
            }

            .victory {
                display: none;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                color: rgba(255, 255, 255, 1);
                font-family: "Roboto", sans-serif;
                line-height: 100%;
                font-weight: 700;

                img {
                    max-width: 250px;
                    height: 250px;
                }

                h2 {
                    font-size: clamp(30px 10vw 80px);
                }

                p {
                    font-size: clamp(18px 10vw 40px);
                    padding: 0 3px 0 4px;
                    
                    span {
                        background: rgba(151, 71, 255, 1);
                    }
                }

                button {
                    cursor: pointer;
                    color: rgba(0, 0, 0, 1);
                    background: rgba(238, 238, 238, 1);
                    font-family: "Inter", sans-serif;
                    font-weight: 700;
                    font-size: clamp(10px 10vw 18px);
                    line-height: 21px;
                    padding: 8px 16px;
                    max-width: 256px;
                    border: none;
                }
            }
        }
    }
}

